extends ../layouts/common
block content
  h1 Create user
  form(action="/users/create", method="POST")
    .form-group
      label(for="name") Name
      input#name.form-control(type="text", name="name" autofocus)
    button.btn.btn-primary Create