h1 Users
a(href='/users/create') New
form(action="/users/search", method="GET", id="search-form")
  input(type="text", name="q", id="search-input")
  button Search
ul
  each user in users
    li= user.name
script
  include script.js
